@import "normalize";
@import "theme";
@import "utility";


::-moz-selection,
::selection {
  background-color: hsl(var(--hue), 65%, 30%);
  text-shadow: none;
}

body {
  font-family: "Cairo", sans-serif;
}

html {  
  background-color: var(--background);
  color: var(--text-color-normal);
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
}


button {
  background-color: var(--button-background);
  color: var(--button-text-color);
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  transition: box-shadow .5s ease ;

  &:hover {
    box-shadow: 0 0px 5px 0 transparent;      
  }
}
a{
    color: var(--link-color);
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
}

.text-highlight{
  color: var(--text-color-highlight);
}

.rich-text{
    color: var(--text-color-richer);

}
.light-text{
    color: var(--text-color-light);
}

.error-text{
    color: var(--error-color);
}



.text-size-small {
  font-size: 0.8;
}
.text-size-medium {
  font-size: 1.4;
}
.text-size-large {
  font-size: 1.6;
}
.text-size-xlarge {
  font-size: 1.8;
}
.text-size-xxlarge {
  font-size: 2;
}

.display-grid {
  display: grid;
  column-gap: 20px;
}
.grid-column-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-column-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-column-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-column-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-column-6 {
  grid-template-columns: repeat(6, 1fr);
}
.grid-column-7 {
  grid-template-columns: repeat(7, 1fr);
}
.grid-column-8 {
  grid-template-columns: repeat(8, 1fr);
}
.grid-column-9 {
  grid-template-columns: repeat(9, 1fr);
}
.grid-column-10 {
  grid-template-columns: repeat(0, 1fr);
}

.column-heading {
  font-size: 2rem;
  color: var(--text-color-highlight);
  text-align: center;
}